{% extends 'base.html' %}
{% block content %}
    <div class='container'>
        <h3 class="text-center mt-5">TextUtils ! an awesome text manipulation site </h3>
        <p class="mt-3 about" style="text-align: justify;">Get ready with you raw text data and take our services to <b>manipulate, beautify and simplify</b> your text data.
             A list of all services available on services page. It is very easy, simple and handy to use this site. A lot of operations can be
            performed on text.</p>
    </div>

    {% endblock %}