{% extends 'base.html' %}
{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5 text-center">TextUtils !<br/> An awesome text manipulation website</h1>
      <div class='container mt-5'>
      {% block includes %}
      
      <h3>Requested Service: {{ requestedService }}</h3>
      <h3>Original Text :</h3>
      <pre>{{ originalText }}</pre>
      <h3>Output Text :</h3>
      <pre>{{ outputText }}</pre>
      {% endblock includes %} 
      </div>
    </main>

{% endblock %}