{% extends 'base.html' %}
{% block content %}
    <div class="container" >
        <h3>Services :</h3>
        <ul class="about">
            <li>Remove Punctuations</li>
            <li>Remove Extra Spaces</li>
            <li>Remove New line characters</li>
            <li>Convert to uppercase</li>
            <li>Convert to lowercase</li>
            <li>Capitalize each word of sentence</li>
            <li>Word Count</li>
            <li>Unique Word Count</li>
            <li>Unique word</li>
            <li>Frequency of each word</li>
            <li>unique letter count</li>
            <li>unique letter</li>
        </ul>
    </div>
{% endblock %}
